.container {
  width: 100%;
  max-width: 90rem;
  @include flex();
}

h2 {
  color: $dark-blue;
  font-size: 1.2rem;
}

p {
  font-weight: 400;
  color: $grayish-blue;
  margin-top: 0.4rem;
}

a {
  text-decoration: none;
}
